.weather-collection {
    padding: 50px 0 50px 0;
    height: 90%;
}
.weather-row {
    width: 85%;
    margin-left: 8.75%;
    display: flex;
    justify-content: space-around;
}
.collection-nightime {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #4B79A1;
    background: -webkit-linear-gradient(to top, #283E51, #0A2342);
    background: linear-gradient(to top, #283E51, #0A2342);
    color: white;
    background: -olinear-gradient(to top, #283E51, #0A2342); 
}
.stars {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height: auto;
    display:block;
    background:url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index:0;
}

.collection-daytime {
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
}
.spacing {
    margin-top: 40px;
}


/* 992px to 1328px */
@media screen and (max-width: 400px){
    .weather-row p {
        font-size: 14px;
    }
}
@media screen and (max-width: 992px) {
    .main-col {
        margin-bottom: 30px;
        padding: 0;
    }
    .weather-collection {
        padding: 40px 0 30px 0;
    }
}
@media screen and (max-width: 1328px) {
    .weather-row {
        width: 90%;
        margin-left: 5%;
    }
}

@media screen and (max-height: 760px) {
    .weather-collection {
        height: auto;
    }   
}