.main-weather {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 10px 20px;
    border-radius: 10px;
    width: 100%;
    margin: 0;
    margin-bottom: 60px;
}
.main-container {
    padding: 0;
    margin: 0;
}
.night-weather {
    border: 1px solid white;
}
.day-weather {
    background-color: white;
}
.main-degrees {
    font-size: 64px;
}
.main-weather-info {
    margin-top: 27%;
}
.m-w-p {
    margin: 5px 0 0 0;
    font-size: 14px;
}
.img-info {
    justify-content: flex-end;
}