.main-weather {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 10px 20px;
    border-radius: 10px;
    width: 100%;
    margin: 0;
    margin-bottom: 60px;
}
.main-container {
    padding: 0;
    margin: 0;
}
.night-weather {
    border: 1px solid white;
}
.day-weather {
    background-color: white;
}
.main-degrees {
    font-size: 64px;
}
.main-weather-info {
    margin-top: 27%;
}
.m-w-p {
    margin: 5px 0 0 0;
    font-size: 14px;
}
.img-info {
    justify-content: flex-end;
}


@media screen and (max-width: 400px){
    .main-degrees {
        font-size: 48px !important;
    }
    .main-weather {
        padding: 10px;
    }
}

@media screen and (max-width: 700px){
    .m-w-p {
        font-size: 12px;
    }
}
@media screen and (max-width: 620px) {
    .m-w-p {
        font-size: 11px;    
    }
}
@media screen and (max-width: 576px) {
    .m-w-p {
        font-size: 14px;    
    }
}




@media screen and (max-width: 992px) {
    .main-weather {
        margin-bottom: 30px;
    }
    .main-weather {
        padding: 10px;
    }
    .location-temp {
        padding: 0;
    }
}