.daily-weather {
    width: 100%;
    border-radius: 10px;
    padding: 8px 5px 8px 5px;
}
.daily-nightime {
    border: 1px solid white;   
}
.daily-daytime {
    background-color: white;
}
.daily-row {
    width: 100%;
}

.day-of-week {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 20px 0;
}
.day-imgs{
    display: flex;
    align-items: center;
    justify-content: center;
}
.day-imgs p {
    margin: 0;
}
.daily-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.day-rain-img {
    width: 12px;
    height: 12px;
}
.day-day {
    justify-content: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5px;
}
.day-day p {
    margin: 0;
}
.day-high-low {
    justify-content: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5px;
    text-align: right;
}
.day-high-low p {
    margin: 0;
}
@media screen and (max-width: 1200px) {
    .day-of-week {
        padding: 0;
    }
    .daily-col {
        padding: 0;
    }
}
@media screen and (max-width: 992px) {
    .day-of-week {
        margin: 10px 0 20px 0;
    }
   
}
@media screen and (max-width: 401px) {
    .day-of-week p {
        font-size: 14px;
    }
}


