.custom-navbar {
    height: 100px;
}
.weather-navbar {
    background-color: #2a2a72;
    background-image: linear-gradient(2deg, #2a2a72 0%, #009ffd 74%);
}
.home-navbar {
    background-color: transparent;
}
.nav-custom {
    height: 100%;
    padding: 20px 10% 20px 10%;
    width: 100%;
    overflow: hidden;
}
.nav-half {
    width: 50%;
    display: flex;
    height: 100%;
    align-items: center;
}
.nav-info {
    justify-content: flex-end;   
}
.sign-in-out-icon {
    margin-left: 20px;
    color:white;
    font-size: 25px;
    cursor: pointer;
}
.nav-logo {
    height: 100%;
    align-items: center;
}
