.footer {
    background-color: #2a2a72;
    background-image: linear-gradient(2deg, #2a2a72 0%, #009ffd 74%);
    height: 100px;
    width: 100%;
    color: white;
    position: absolute;
    bottom: 0;
    margin-top: 500px;
}