.footer {
    background-color: #2a2a72;
    background-image: linear-gradient(2deg, #2a2a72 0%, #009ffd 74%);
    height: 30px;
    width: 100%;
    color: white;
    bottom: 0;
    overflow: hidden;
    padding:0 10% 0 10%;
    display: flex;
    justify-content: space-between;
}
.footer p {
    margin: 0;
}

@media screen and (max-width: 470px){
    .footer p {
        font-size: 12px;
    }
}