.homepage {
    height: 100%;
    overflow: hidden;
    background-image: url('../../assets/desert0.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}